.show-arrow {
  position: relative;
  padding-right: 90rpx;
}
.show-arrow:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  width: 30upx;
  height: 30upx;
  color: #8799a3;
  content: '\e6a3';
  text-align: center;
  font-size: 34upx;
  font-family: cuIcon;
  line-height: 30upx;
}

.dis-ib {
  display: inline-block;
}
.vertical-middle {
  vertical-align: middle;
}

.cu-modal {
  z-index: 998;
}
